body{

margin: 3%;
padding: auto;
background-color:gray;


}


h1{

font-size: 30px; 
font-family: Arial, Helvetica, sans-serif; 
color: #000;
text-align: center;

}

td{
color: black;
font-size: 60s;
font-weight: bolder;
border-radius: 50%;
}